<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            .carousel {
                width: 500px;
                height: 300px;
                overflow: hidden;
                white-space: nowrap;
                outline: 1px solid rgb(225, 107, 140);
                margin: 0 auto;
                /* zoom: 0.5; */
            }
            .carousel > img {
                width: 500px;
                height: 300px;
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <div id="root"></div>
        <script src="./main.js"></script>
    </body>
</html>
